<navbarfront></navbarfront>
<div class="height-div" id="mainDiv"></div>
<div class="main-banner">
  <div class="container">
    <div class="banner_img">
      <img src="../../assets/new/img/main_banner.png">
    </div>
    <div class="banner-content">
      <div class="table-block">
        <div class="table-inner">
          <h1>On Demand Trucks</h1>
          <h4>Pay only for the space you use</h4>
          <p>No more middlemen, GoShipNow has a network of truckers. When you post your shipment, rest assured that you will get matched with a trucker. Since we cut out the layers of middlemen, your shipping instructions will go directly to the trucker. Most of all, your cost will go way down!!!</p>

          <a href="#readMore">Read more<img src="../../assets/new/img/arrow-down.png"></a>
          <a class="get-app-btn" href="#get-app">Get the app</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="schedule-sec common-sec" id="readMore">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <div class="schedule-block">
              <div class="schedule-img">
                <img class="img-responsive" src="../../assets/new/img/low-cost.png">
              </div>
              <div class="schedule-content">
                <h4>Low-cost</h4>
                <p>You only pay for the space used, no need to pay extra. Your shipment stays safe and you receive a notification when it's delivered.</p>
                <a class="common-btn pull-right" [routerLink]="['/about']">Learn more<img src="../../assets/new/img/arrow-right.png"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="schedule-block">
              <div class="schedule-img">
                <img class="img-responsive" src="../../assets/new/img/no-middlemen.png">
              </div>
              <div class="schedule-content">
                <h4>No more middlemen</h4>
                <p>We put you directly in touch with the truckers, since we dont have layers of middlemen. This saves money and ensures attention to detail.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="schedule-block">
              <div class="schedule-img">
                <img class="img-responsive" src="../../assets/new/img/track.png">
              </div>
              <div class="schedule-content">
                <h4>Track the trucker</h4>
                <p>Whether the trucker is in the city or in remote areas, you can see real-time location of the trucker, even before he makes it to your pick up location.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="earn-sec" id="trucker">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6">
        <div class="earn-content">
          <h2 class="common-title">Earn extra money</h2>
          <h4>Without working extra hours</h4>
          <p>GoShipNow matches you with shipments along the route to your current destination. Use the free space in your truck to make extra money.</p>
          <!--<a class="common-btn" href="#">Why to drive<img src="../../assets/new/img/arrow-right.png"></a>-->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="work-sec common-sec" id="work">
  <div class="container">
    <h5>How it works</h5>

    <div class="hiw-items" id="hiw_carousel">
      <div class="item active">
        <div class="slider-img animated pulse" style="background-image: url(../../assets/new/img/hiw/step_1.png)">
          <h6 class="step-num animated pulse">1</h6>
        </div >
        <div class="slider-content">
          <div class="table-block">
            <div class="table-inner">
              <h2 class="animated pulse">Give us the details</h2>
              <p class="animated pulse">Fill in the freight details.<br>
                Provide us with the length, width, height, weight & type of shipment.<br>
                Let us know the pickup and drop-off location.<br>
                Tell us when you want us to pick it up. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="slider-img animated pulse" style="background-image: url(../../assets/new/img/hiw/step_2.png)">
          <h6 class="step-num animated pulse">2</h6>
        </div>
        <div class="slider-content">
          <div class="table-block">
            <div class="table-inner">
              <h2 class="animated pulse">See the cost and post</h2>
              <p class="animated pulse">Our algorithm instantly calculates the cost. <br>
                Its based upon shipment size, load class and distance.  <br>
                If you like the cost, click POST!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="slider-img animated pulse" style="background-image: url(../../assets/new/img/hiw/step_3.png)">
          <h6 class="step-num animated pulse">3</h6>
        </div>
        <div class="slider-content">
          <div class="table-block">
            <div class="table-inner">
              <h2 class="animated pulse">Get matched</h2>
              <p class="animated pulse">Our system takes only a few seconds to find a truck. <br>
                It starts off by looking for trucks already headed in your direction. <br>
                It narrows it down to only those trucks having enough space. <br>
                This way you only pay for the space you use.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="item">

        <div class="slider-img animated pulse" style="background-image: url(../../assets/new/img/hiw/step_4.png)">
          <h6 class="step-num animated pulse">4</h6>
        </div>
        <div class="slider-content">
          <div class="table-block">
            <div class="table-inner">
              <h2 class="animated pulse">Pickup</h2>
               <p class="animated pulse">Once you're matched, the driver get notified. <br>
                You can track the location of the truck using our app or website. <br>
                Once the truck arrives, <br>
                the driver picks up the goods and <br>
                 drives to the destination.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="slider-img animated pulse" style="background-image: url(../../assets/new/img/hiw/step_5.png)">
          <h6 class="step-num animated pulse">5</h6>
        </div>
        <div class="slider-content">
          <div class="table-block">
            <div class="table-inner">
              <h2 class="animated pulse">Delivery</h2>
              <p class="animated pulse">The shipment gets delivered.<br>
                You get a notification.<br>
                Everyone is happy.</p>
            </div>
          </div>
        </div>
      </div>

      <a id="hiw_back_btn" class="left carousel-control disable" role="button" data-slide="prev">
        <span class="sr-only"><img src="../../assets/new/img/left-arrow.png"></span>
      </a>
      <a id="hiw_next_btn" class="right carousel-control" role="button" data-slide="next">
        <span class="sr-only"><img src="../../assets/new/img/right-arrow.png"></span>
      </a>
    </div>
  </div>
</section>

<section class="subscribe-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-8">
            <div class="subscribe-comntent">
              <h2 class="common-title">GoShipNow is in US & Canada</h2>
              <h4>Subscribe to receive very occasional announcements.</h4>
              <form class="subscribe-form">
                <input name="email" [(ngModel)]="user.email" type="text" placeholder="Enter your email address">
                <button (click)="subscribeMail()">Submit</button>
              </form>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tower-img">
              <img src="../../assets/new/img/tower-img.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="app-block common-sec" id="get-app">
  <div class="container">
    <h2 class="common-title">Get The Apps</h2>
    <a><img src="../../assets/new/img/app-btn-1.png"></a>
    <a><img src="../../assets/new/img/app-btn-2.png"></a>
  </div>
</div>
<footerFront></footerFront>

