<div class="header">
  <navbarT></navbarT>
</div>
<div class="height-div logdin-div">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<section class="shipment-sec shipment4-sec shipment-details1" *ngIf="isLoaded">
  <div class="container">

    <div class="shipment-details2-header clearfix">
      <h4 class="pull-left">New Listing</h4>
      <a *ngIf="!isAccepted" class="pull-right" style="cursor: pointer" (click)="acceptShipment()">Accept Shipment</a>
      <a *ngIf="isAccepted" class="pull-right" style="cursor: pointer" (click)="cancelShipment()">Cancel Shipment</a>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="items-block clearfix">
          <div class="shipment-drop">
            <ul class="list-inline">
              <li>
                <span class="pickup-point location-area">A. Pick-up point</span>
                <span class="location-name"> {{shipment.pickupCity}}</span>
              </li>
              <li>
                <i class="distance-icon"></i>
              </li>
              <li>
                <span class="drop-point location-area">B. Drop-off point</span>
                <span class="location-name">{{shipment.deliveryCity}}</span>
              </li>
            </ul>
          </div>
          <!--<div class="track-time">-->
            <!--<div class="pull-left time-miles">-->

              <!--<span>430 miles distance</span>-->

            <!--</div>-->
            <!--<div class="pull-right track-shipment-btn">-->
              <!--<span class="due-tomorrow pickup-date">Pickup on: July 21, 2018</span>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="items-block" *ngIf="isAccepted">
          <ul class="list-inline track-bar clearfix">
            <li class="track-bar-list top-line dot-icon" [ngClass]="{ 'done-block': job.status == 'accepted' }" style="cursor: pointer">
              <h4>Order accepted</h4>
              <h5>{{job.createdAt * 1000 | date: 'mediumDate'}}</h5>
            </li>
            <!--<li class="track-bar-list top-line dot-icon">-->
              <!--<h4>Confirmation</h4>-->
              <!--<h5>Awaiting confirmation<br> from the shipper</h5>-->
            <!--</li>-->
            <li class="track-bar-list top-line dot-icon" [ngClass]="{ 'done-block': job.status == 'on-its-way' }"  style="cursor: pointer" (click)="pickupJob()">
              <h4>Pickup</h4>
              <!--<a href="#">Call to confirm</a>-->
            </li>
            <li class="track-bar-list dot-icon" style="cursor: pointer" [ngClass]="{ 'done-block': job.status == 'delivered' }"  (click)="deliveredJob()">
              <h4>Delivery</h4>
            </li>
          </ul>
        </div>
        <div class="shipment-details-map">
          <div class="items-block clearfix">
            <h6>ROUTE ON MAP</h6>
            <!--<a href="#" class="open-map pull-right">Open in map</a>-->
          </div>
          <div class="shipment-location shipment-details-map">
            <agm-map style="height:100%;width:100%;"
                     [latitude]="shipment.deliveryLatitude"
                     [longitude]="shipment.deliveryLongitude"
                     [zoom]="5"
                     [disableDefaultUI]="false"
                     [zoomControl]="true">
              <agm-direction [origin]="origin" [destination]="destination"></agm-direction>

              <agm-marker [latitude]="shipment.pickupLatitude"
                          [longitude]="shipment.pickupLongitude"
                          [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'">
              </agm-marker>

              <agm-marker [latitude]="shipment.deliveryLatitude"
                          [longitude]="shipment.deliveryLongitude"
                          [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'">
              </agm-marker>

            </agm-map>
          </div>
        </div>

        <div class="items-block your-item-shipment">
          <h6>Items</h6>
          <ul class="list-inline items-list">
            <li><a>Fans</a></li>
            <li><a>Study Table</a></li>
            <li><a>Wood Logs</a></li>
            <li><a>Automobile SUV</a></li>
          </ul>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="items-block">
          <div class="distance-price">
            <i class="price-tag"></i>
            <h4>{{shipment.cost | currency}}</h4>
            <!--<h6>430 miles distance</h6>-->
          </div>
        </div>
        <div class="items-block">
          <h6>DELIVER TO</h6>
          <div class="deliver-block">
            <h4 class="delever-name">{{shipment.receiverName}}</h4>
            <div class="deliver-call-block clearfix">
              <span class="pull-left">{{shipment.receiverPhone}}</span>
              <!--<span class="pull-left">{{shipment.receiverEmail}}</span>-->
              <!--<a href="tel:123-345-344-34" class="pull-right deliver-call-btn">Call</a>-->
            </div>
            <!--<div class="unale-block">-->
              <!--<span>Unable to call? <a href="#"> Let us know</a></span>-->
            <!--</div>-->
          </div>
        </div>

        <div class="items-block">
          <h6>GETTING DELIVERED BY</h6>
          <div class="shipment-user">
            <span class="user-img"></span>
            <div class="user-name">
              <h4>Jonathan Schmidt</h4>
              <h6>4.8</h6>
            </div>
          </div>
        </div>
      </div>
    </div><!--/row-->
  </div>
</section>
