<navbar *ngIf="isShipper"></navbar>
<navbarT *ngIf="!isShipper"></navbarT>

<div class="height-div inner-pages-height">
  <div class="height-div logdin-div">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
</div>

<section class="notifications-sec">
  <div class="container">
    <div class="notifications-inner">
      <div class="notifications-box">
        <div class="notifications-head clearfix">
          <h4>All Notifications</h4>

        </div>
        <div *ngFor="let noti of notifications" class="notifications-block" [ngClass]="{'active-noti': noti.read ==0, 'notification': noti.read==0}" (click)="readNotifications(noti,noti)">
          <div class="clearfix noti-time-block">
            <h6 class="noti-date pull-left">{{noti.createdAt * 1000 | date: 'MM/dd/yyyy'}}&nbsp;&nbsp;&nbsp;{{noti.createdAt | date: 'hh:mm:ss a'}}</h6>
            <a class="noti-delete-btn" (click)="deleteNotification(noti)"></a>
           </div>
          <p>{{noti.content}}</p>

        </div>
      </div>
      <div class="notifications-box">
        <div class="notifications-head clearfix">
          <h4>Catched up</h4>
        </div>
      </div>
    </div>
  </div>
</section>
